<div role="main" class="main">
  <mat-toolbar class="toolbar">
    <span class="toolbar-title">  <img src="assets/images/ibex-logo.png" class="profile-picture" alt="Avatar"> Certificate Portal</span>
    <div class="toolbar-right">
      <!-- <a href="#" routerLink="/search" class="toolkit-wrapper icon" matRipple>
        <mat-icon aria-hidden="false" aria-label="search icon" color="primary">search</mat-icon>
      </a> -->
      <div class="toolkit-wrapper text" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
        (click)="menuTrigger.openMenu()" matRipple>
        <div class="initial">{{ initials }}</div>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" class="account-menu">
          <div class="name">{{ username }}</div>
          <div class="mail">{{ usermail }}</div>
          <div class="logout" (click)="logoutUser()">Logout</div>
        </mat-menu>
      </div>
      <span class="toolbar-username" (click)="menuTrigger.openMenu()">{{username}}</span>
    </div>
  </mat-toolbar>
  <mat-toolbar-row class="toolbar-second-row">
    <div class="nav-wrapper">
      <a href="#" routerLink="/">
        <span>Home</span>
      </a>
      <a href="#" routerLink="/user-profile" routerLinkActive="active">
        <span>Profile</span>
      </a>
    
      <a routerLinkActive="active" (click)="toggleAdmin()" class="router-parent" [matMenuTriggerFor]="adminMenu" *ngIf="this.userRole=='Admin' || this.userRole=='Instructor'">
        <span>Admin</span>
      </a>
      <mat-menu #adminMenu="matMenu" class="admin-menu">
        <button mat-menu-item routerLink="/admin/user-list" routerLinkActive="active" >
          <mat-icon aria-hidden="false" aria-label="User List">supervised_user_circle</mat-icon>
          User List
        </button>
        <button mat-menu-item routerLink="/admin/institution-list" routerLinkActive="active" >
          <mat-icon aria-hidden="false" aria-label="User List">school</mat-icon>
          Institution List
        </button>
        <button mat-menu-item routerLink="/admin/certificate-list" routerLinkActive="active" >
          <mat-icon aria-hidden="false" aria-label="User List">insert_drive_file</mat-icon>
          Certificate List
        </button>
      </mat-menu>
    </div>
        
  </mat-toolbar-row>

  <mat-toolbar-row class="toolbar-third-row">
    <div class="nav-wrapper">
      <span class="root-page-text">{{currentRootPageTitle}}</span>
    </div>
  </mat-toolbar-row>

  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <p>Powered by Ibex Innovation Sdn Bhd</p>
  </div>
</div>