@import "../../../assets/scss/breakpoints";

// $primary: rgb(0, 161, 156);
// $secondary: rgb(0, 143, 138);

$primary: rgba(104, 70, 139, 0.9);
$secondary: rgba(104, 70, 139, 1);

// $secondary: rgba(103, 58, 183, 1);
// $primary: rgba(103, 58, 183, 0.9);

$mobileNavHeight: 65px;

.main {
  background-color: #f9f9f9;
  overflow-x: hidden;
  @include for-tablet-below {
    margin-left: 0 !important;
  }
  .toolbar {
    background-color: white;
    color: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99999;
    border-bottom: 1px solid #eee;
    .toolbar-title {
      font-weight: bold;
      color: $primary;
    }
    .toolbar-right {
      display: flex;
      .toolkit-wrapper {
        background: #f2f2f2;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        cursor: pointer;
        user-select: none;
        &:not(:last-child) {
          margin-right: 0.5em;
        }
        &:hover {
          background: #dddddd;
        }
        &.icon {
          display: table;
          text-align: center;
          mat-icon {
            vertical-align: middle;
            color: rgba(103, 58, 183, 1);
          }
        }
        &.text {
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(103, 58, 183, 1);
          .initial {
            font-size: 0.75em;
            color: white;
          }
        }
      }
    }
    .toolbar-username {
      display: flex;
      align-items: center;
      color: black;
      font-size: medium;
    }
  }
  .toolbar-second-row {
    background-color: white;
    .nav-wrapper {
      a {
        padding: 0.8em 0.8em;
        font-size: 1.3em;
        color: black;
        text-decoration: none;
        align-items: center;
        &:hover,
        &.active {
          background: #f9f9f9;
        }
        .mat-icon {
          margin-right: 10px;
          @include for-tablet-below {
            margin-right: 0;
          }
        }
        &.router-parent {
          cursor: pointer;
        }
        
      }
    }
  }
  .toolbar-third-row {
    background-color: white;
    .nav-wrapper {
      .root-page-text {
        margin-left: 15px;
      }
    }
  }
  .wrapper {
    padding: 1em 2em;
    @include for-tablet-below {
      padding: 1em;
      padding-bottom: calc(1em + #{$mobileNavHeight});
    }
  }
 

  
}

.loading-profile {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 0 auto;
  user-select: none;
  pointer-events: none;
}

button.mat-menu-item { 
  outline:none; 
  font-size: 1.0em;
}

.profile-picture {
  border-radius: 50%;
  height: 5vh;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
