<mat-chip-list #chipList aria-label="Fruit selection">
  <mat-chip
    *ngFor="let plant of userRole.institutions"
    [selectable]="selectable"
    [removable]="removable"
    (removed)="remove(plant)">
    {{plant.name}}
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  <input
    placeholder="Select institutions for the role"
    #fruitInput
    [formControl]="fruitCtrl"
    [matAutocomplete]="auto"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="add($event)">
</mat-chip-list>
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
  <mat-option *ngFor="let plant of filteredInstitutions | async" [value]="plant">
    {{plant.name}}
  </mat-option>
</mat-autocomplete>
